#app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*border-bottom: 1px solid rgba(#fff, .25);*/
    z-index: 999;
    padding: 0 20px;
    background: linear-gradient(180deg, $body-bg,transparent);
}

.header-item {
    width: 50%;
    
    .logo {
        width: 145px;
        height: 80px;

        &-link {
            transition: 0.5s;
            svg {
                fill: #fff;
            }

            &:hover {
                svg {
                    fill: $gold;
                }
            }
        }
        &::before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: -20px;
        }
    }

    .login-list {
        margin: 0;
        padding: 0;
        
        &-item {
            opacity: 1;
            transition: .5s;

            &__link {
                display: inline-flex;
                align-items: flex-end;
                color: #fff;
                transition: .5s;
            }

            svg {
                margin-left: 5px;
                fill: #fff;
                transition: .5s;
            }

            &:hover {
                opacity: .5;
            }
        }
    }
    .decoration-line {
        width: 1px;
        height: 80px;
        background: rgba(#fff, .25);
    }
}
.search {
    width: 100%;
    height: 80px;
    transform: translateX(-101%);
    transition: all 0.5s ease;
    position: fixed;
    top: 80px;
    left: 0;
    padding: 0 20px;
    background-color: #1d2024;

    @media (min-width: map_get($grid-breakpoints, lg)) {
        position: static;
        transform: translateY(-200px);
        padding: 0;
        background-color: transparent;
    }

    &.is-visible {
        transform: none;
    }
    #form-search {
        position: relative;
        width: 100%;

        .form-group {

            &.is-active {

                .form-control {
                    color: #939393;
                }

                .search-btn {

                    svg {
                        fill: #939393;
                    }
                }
            }
        }

        .form-control {
            background: transparent;
            border: none;
            transition: .5s;

        }

        .search-btn {
            top: 50%;
            left: -20px;
            transform: translateY(-50%);

            svg {
                transition: .5s;
            }
        }
    }
}
.locale-selector {
    display: flex;

    &__item {
        padding: rem-calc(3) rem-calc(5);

        &:hover {
            color: $gold;
        }
        &.is-active {
            background-color: $primary;
            color: #fff;
        }
    }
}



.header-logo {
    display: inline-block;
    svg {
        fill: #fff;
    }

    figure {
        width: 60px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;


        @media (min-width: map_get($grid-breakpoints, sm)) {
            width: 100px;
            height: 42px;
        }
    }
}
.nav-search-icon{
    &:hover {
        color: $gold;
    }
}


