#categories {
	padding-top: 80px;
	margin-bottom: 0rem;
}

.categories {
	margin-bottom: -$grid-gutter-width * 1.5;
}

.category {
	display: block;
	position: relative;
	border: 5px solid #fff;
	&--large {
		padding-top: 100%;
		height: 50%;
		width: 100%;

	}
	&--medium{
		padding-top: 80%;
		height: 50%;
		width: 100%;
	}

	&--small {
		padding-top: 50%;
		height: 50%;
		width: 100%;
	}

	&__image {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-position: 50% 50%;
		background-size: cover;
		transition: 1s ease;

	}

	h5 {
		position: absolute;
		bottom: 20px;
		padding: 15px;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgba(#fff, 0.5);
	}
	&:hover {
		opacity: 0.8;
	}
}

.title {
	&-decoration {
		position: absolute;
		border-top: 4px double;
		border-bottom: 4px double;
		z-index: -1;
		transform: translateY(-50%);
		border-color: $body-color;
	}

	&--decorated {
		position: relative;

		span {
			position: relative;
			//border-top: 4px solid;
			//border-bottom: 4px solid;
			//border-color: rgba(228, 175, 33, 0.25);

			&::before, &::after {
				position: absolute;
				font-family: sans-serif;
				font-style: italic;
				top: 50%;
				transform: translateY(-50%);
				content: 'Anna\'s Flowers';
				white-space: nowrap;
				font-size: 12px;
				opacity: 0.3;
				z-index: -1;
				color: $body-color;
			}

			&::before {
				right: 115%;
			}

			&::after {
				left: 115%;
			}
		}
	}

	span {
		position: relative;
		background-repeat: no-repeat;
		background-size: 0 100%;
		background-position: 50% 0;
		transition: 0.5s;
	}

	&--filled {
		span {
			background-position: 0 0;
		}
	}

	&--striped {
		span {
			background-image: linear-gradient(transparent calc(100% - 1px), $body-color 1px);
		}
	}
}
