#app-footer {
  color: $headings-color;
  background-color: $dark;

  a {
    color: currentColor;

    &:hover {
      color: $gold;
    }
  }
}

.footer-logo {
  a {
    figure {
      margin-left: 8%;
      width: 250px;
      height: 55px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      /*@media (min-width: map_get($grid-breakpoints, sm)) {
        margin-left: 20%;
        width: 60vw;
        height: 40px;
      }

      @media (min-width: map_get($grid-breakpoints, lg)) {
        margin-left: 25%;
        width: 50vw;
        height: 70px;
      }*/
    }
  }
}

.footer-info {
  padding: 60px 0;
}

.copyrights {
  background-color: $dark;
  font-size: rem-calc(14);
  color: #fff;
}

.subscription-form {
  max-width: 450px;
}